APP_NAME=Core Service
APP_VERSION=1.0.0
APP_PORT=:11082
APP_PATH=/core

POD_ID=1
APP_EXTERNAL_PORT=11082

# Mode: dev | prod
DEPLOYMENT_MODE=dev

DB_USER=coredev
DB_PASSWORD=coredev
DB_NAME=core
DB_EXTERNAL_PORT=9832

# DB UNIT TEST
DB_TEST=postgres://coredev:coredev@localhost:9832/core?sslmode=disable&search_path=core

# 10.0.9.12:11211
MEMCACHED_HOST=localhost:11511

APM_HOST=
